P2P_API_URL=https://p2p.aicacia.com
P2P_WS_URL=wss://p2p.aicacia.com
JWT_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6IjIifQ.eyJhdWQiOiJQMlAiLCJleHAiOm51bGwsImlhdCI6MTcxOTQ0Mjc0NCwiaXNzIjoiUDJQIiwic3ViIjoic29tZS1nbG9iYWxseS11bmlxdWUtaWQifQ.t4AwDf3PC6Twcvh28T1m7up9ZBya6hlu-8BdUFvod48"