parcel-cache/
dist/
.husky/
.github/
.nyc_output/
.vscode/
coverage/
example/
docs/
src/
node_modules/
.editorconfig
.eslintignore
.eslintrc
.gitignore
npm-debug.log
rollup.config.mjs
tsconfig.esm.json
tsconfig.json
.env*
pnpm-workspace.yaml